@{
    Layout = "~/Views/Shared/_Layout.cshtml";
 }

    <div>
        <h3>Распродажа книг</h3>
        <table>
            <tr>
                <td><p>Название книги</p></td>
                <td><p>Автор</p></td>
                <td><p>Цена</p></td>
            </tr>
            @foreach (var b in ViewBag.Books)
            {
                <tr>
                    <td><p>@b.Name</p></td>
                    <td><p>@b.Author</p></td>
                    <td><p>@b.Price</p></td>
                    <td><p><a href="/Home/Buy">Купить</a></p></td>
                </tr>
            }
        </table>
    </div>
@Html.Partial("Partial", new string[] { "Russia", "USA", "Canada", "France", "Germany", "USSR", "China" })

<div>
    <h3>Список книг</h3>
    @Booklist(ViewBag.Books)
</div>

@helper Booklist(IEnumerable<BookStore.Models.Book> books)
    {
        <ul>
            @foreach (BookStore.Models.Book b in books)
            {
                <li>@b.Name</li>
            }
        </ul>
    }

@helper CreateList(string[] list)
{
    <ul>
        @foreach (string s in list)
        {
            <li>@s</li>
        }
    </ul>
}

@{
    string[] cities = new string[] { "London", "Paris", "New York", "Moscow" };
    string[] countries = new string[] { "Russia", "China", "Belarus", "Serbia" };
}

<h3>Cities</h3>
@CreateList(cities)
<br />
<h3>Countries</h3>
@CreateList(countries)
